DATABASE_URL=your_database_connection_string
PORT=port_number
APP_URL=your_app_url
BCRYPT_SALT_ROUND=bcrypt_salt_rounds
JWT_ACCESS_SECRET=jwt_access_secret
JWT_ACCESS_EXPIRES_IN=access_token_expires_in
JWT_REFRESH_SECRET=refresh_token_secret
JWT_REFRESH_EXPIRES_IN=refresh_token_expires_in

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=your_publishable_key

STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret